<div class="theme-selector">
    <div class="theme-dot-wrapper">
        <div class="theme-dot" id="theme-dot"></div>
        <span class="theme-label">Dark</span>
    </div>
    <div class="theme-dropdown hidden" id="theme-dropdown">
        <div class="theme-option" data-theme="light">
            <span class="theme-preview light"></span>
            <span class="theme-name">Light</span>
        </div>
        <div class="theme-option" data-theme="dark">
            <span class="theme-preview dark"></span>
            <span class="theme-name">Dark</span>
        </div>
        <div class="theme-option" data-theme="orokin-light">
            <span class="theme-preview orokin-light"></span>
            <span class="theme-name">Orokin-Light</span>
        </div>
        <div class="theme-option" data-theme="orokin-dark">
            <span class="theme-preview orokin-dark"></span>
            <span class="theme-name">Orokin-Dark</span>
        </div>
        <div class="theme-option" data-theme="kibana-light">
            <span class="theme-preview kibana-light"></span>
            <span class="theme-name">Kibana-Light</span>
        </div>
        <div class="theme-option" data-theme="kibana-dark">
            <span class="theme-preview kibana-dark"></span>
            <span class="theme-name">Kibana-Dark</span>
        </div>
        <div class="theme-option" data-theme="cubic">
            <span class="theme-preview cubic"></span>
            <span class="theme-name">Cubic</span>
        </div>
        <div class="theme-option" data-theme="neon-punk">
            <span class="theme-preview neon-punk"></span>
            <span class="theme-name">Neon Punk</span>
        </div>
        <div class="theme-option" data-theme="fortress-blue">
            <span class="theme-preview fortress-blue"></span>
            <span class="theme-name">Fortress Blue</span>
        </div>
        <div class="theme-option" data-theme="fortress-red">
            <span class="theme-preview fortress-red"></span>
            <span class="theme-name">Fortress Red</span>
        </div>
        <div class="theme-option" data-theme="dracula">
            <span class="theme-preview dracula"></span>
            <span class="theme-name">Dracula</span>
        </div>
    </div>
</div>