@import url('dark.css');
@import url('light.css');
@import url('orokin-dark.css');
@import url('orokin-light.css');
@import url('kibana-dark.css');
@import url('kibana-light.css');

.theme-preview.light {
    background: #ffffff;
}

.theme-preview.dark {
    background: #101010;
}

.theme-preview.orokin-light {
    background: #fff4d6;
}

.theme-preview.orokin-dark {
    background: #ffe066;
}


.theme-preview.kibana-light {
    background: #00b3a4;
}

.theme-preview.kibana-dark {
    background: #DB1374;
}
