<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" type="image/png" href="/static/icons/logo/cassanova-logo.png"/>
    <title>{% block title %}Cassanova{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/styles/main.css"/>
    <script src="/static/scripts/sidebar.js" defer></script>
    {% block head_extra %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% if cluster_config_entry %}
{% include "components/sidebar.html" %}
{% else %}
{% include "components/sidebar-disconnected.html" %}
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>
