<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <link rel="icon" type="image/png" href="/static/icons/logo/cassanova-logo.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="/static/styles/main.css" rel="stylesheet">
    <title>Cassanova Home</title>
</head>
<body>
<header>
    <h1>
        <img src="/static/icons/logo/cassanova-logo.png" alt="Logo" style="width: 40px; height: 40px;">
        <a href="/" style="text-decoration: none; color: inherit;">Cassanova</a>
    </h1>
</header>

<div class="container">
    <div class="card">
        <h2>Clusters</h2>
        <table>
            <thead>
            <tr>
                <th>Cluster Name</th>
            </tr>
            </thead>
            <tbody>
            {% for cluster in clusters.keys() %}
            <tr>
                <td>
                    <a href="/cluster/{{ cluster }}" style="text-decoration: none;color: inherit">
                        {{ cluster }}
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
