{% extends "base.html" %}

{% block title %}Tools{% endblock %}

{% block body_class %}with-sidebar{% endblock %}

{% block head_extra %}
    <link href="/static/styles/tools.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Mono&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm/css/xterm.css"/>
    <script src="https://cdn.jsdelivr.net/npm/xterm/lib/xterm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit/lib/xterm-addon-fit.js"></script>
    <script type="module" src="/static/scripts/tools.js" defer></script>
{% endblock %}
{% block content %}
<main>
    <div id="xterm-upload">
        <label for="files-input">Upload Files or Folder (optional)</label>
        <input type="file" id="files-input" multiple webkitdirectory directory/>
        <small class="note">Select multiple files or a folder to send with your commands.</small>
    </div>
    <div id="xterm-wrapper">
        <div id="xterm-container"></div>
    </div>
</main>

{% endblock %}