{% extends "base.html" %}

{% block title %}Cluster: {{ cluster_name }} - VNode Distribution{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="/static/styles/app/vnodes.css"/>
<script src="/static/scripts/vendor/d3/d3.v7.min.js" defer></script>
<script type="module" src="/static/scripts/app/vnodes.js" defer></script>
<script>const clusterData = JSON.parse('{{ vnodes | tojson | safe }}');</script>

{% endblock %}

{% block content %}
<div id="app">
    <section class="fade-in vnodes-section">
        <div id="viz">
            <svg></svg>
        </div>
        <aside>
            <h2>VNode Distribution</h2>
            <input id="node-filter" placeholder="Filter nodes or tokens..."/>
            <div id="menu-scroll"></div>
        </aside>
    </section>
</div>
{% endblock %}
